@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <h2>Week 4 huiswerk enzo...</h2>
        <ul>
            <li><a asp-action="Senario41">Senario 4.1</a></li>
            <li><a asp-action="Senario42">Senario 4.2</a></li>
            <li><a asp-action="Senario43">Senario 4.3</a></li>
        </ul>
    </div>
</div>
