@{
    ViewData["Title"] = "Senario 4.3";
}

<div class="row">
    <div class="col-lg-12">
        <h2>Hover to break the internet...</h2>
        <img src="images/banner1.svg" 
             onmouseover="this.src = '/images/banner2.svg'"
             onmouseout="this.src='/images/banner1.svg'"/>
    </div>
</div>
